/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;  // this was only one from al-folio
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid;
  border-bottom: 1px solid;
  min-height: $base-font-size * 3;
  line-height: $base-font-size * 3;

  @include media-query($on-small) {
    display: flex;
  }
}

/**
 * Wrapper
 */
 .wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

/**
 * Site container
 */
 .site-container {
  height: 100vh;
  width: 100vw;
  //max-width: $max-content-width; // this is from al folio in .container. But window was too narrow
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $base-font-size * 3 + 6px 1fr;
}

/**
 * Site body
 */
 .site-body {
  display: grid;
  grid-template-columns: calc(#{$content-width} * 0.24) 1fr;
  //overflow: hidden;  // not sure why this was here. was not allowing to scroll to content off the screen

  @include media-query($on-medium) {
    grid-template-columns: calc(#{$content-width} * 0.18) 1fr;
  }

  @include media-query($on-small) {
    grid-template-columns: 1fr;
  }
}
 // some formatting from mmistakes
/*
  Table of contents navigation
  ========================================================================== */
.toc__title {
  margin: 0;
  padding: 0.5rem 0.75rem;
  //@debug: $sans-serif-narrow;
  font-size: $type-size-5;
  font-weight: bold;
}

.toc {
  background-color: var(--global-toc-bg-color); // initial was $background-color
  border: 1px solid var(--global-toc-border-color);  // initial was $border-color
  border-radius: $border-radius;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  position: -webkit-sticky;
  position: sticky;
  top: 8em;  // initial value of 2em allowed toc to scroll up
  float: left;

  .toc__title {
    color: var(--global-toc-title-txt-color); // initial was #fff
    font-size: $type-size-5;
    font-weight: bold;
    background: var(--global-toc-title-bg-color);  // initial was $primary-color
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  // Scrollspy marks toc items as .active when they are in focus
  //.active a {
  //  @include yiq-contrasted($active-color);
  //}
}

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: $type-size-6;
  font-weight: bold;

  a {
    display: block;
    padding: 0.1rem 0.5rem;
    color: var(--global-toc-txt-color);
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px none var(--global-theme-color);

    &:hover {
      color: var(--global-hover-color);  // $text-color
    }
  }

  li ul > li a {
    padding-left: 0.25rem;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-left: 0.75rem;
  }

  li ul li ul li ul > li a {
    padding-left: 1.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-left: 1.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-left: 2.25rem;
  }
}

.site-sidebar {
  padding: $spacing-unit;
  @include clearfix();

    .toc {
      .toc__menu {
        overflow-y: auto;
        max-height: calc(100vh - 7em);
      }
    }

  @include relative-font-size(1);

  @include media-query($on-medium) {
    padding: $spacing-unit / 2;
    @include relative-font-size(0.8);
  }

  @include media-query($on-small) {
    display: none;
    border-right: none;
    border-bottom: 1px solid;
  }

  @media screen and (min-width: $on-small) {
    display: block !important;
  }
}


// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
